<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="imagens/LogoSemFgrande.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/notify.js"></script>
</head>
<body>
    <header><%- include('../partials/navbar'); %></header>

    <% if (dadosNotificacao) { %>
        <script>
            window.addEventListener('load', function() {
                notify("<%= dadosNotificacao.titulo %>","<%= dadosNotificacao.mensagem %>", "<%= dadosNotificacao.tipo %>", "right top")
            });
        </script>
    <% } %>

    <main class="main_login">
        <div class="container6">
            <div class="form-header">
                <h1>Nova senha</h1>
                <p>Digite e confirme sua nova senha.</p>
            </div>

            <form action="/resetar-senha" method="POST">
                <input type="hidden" name="alu_id" value="<%= alu_id %>">

                <% if (erros && erros.errors) { %>
                    <% erros.errors.forEach(function(e) { %>
                        <p class="spanerro">* <%= e.msg %></p>
                    <% }) %>
                <% } %>

                <div class="form-group">
                    <label>Nova senha</label>
                    <input type="password" name="senha" id="senha" placeholder="Nova senha" required>
                </div>
                <div class="form-group">
                    <label>Confirmar senha</label>
                    <input type="password" name="repsenha" id="repsenha" placeholder="Confirme a senha" required>
                </div>

                <button type="submit" id="enviar_login">SALVAR NOVA SENHA</button>
            </form>

            <div class="form-footer">
                <nav>
                    <a href="/login">Voltar para o <b>login</b></a>
                </nav>
            </div>
        </div>
    </main>
</body>
</html>